__pycache__/
*.pyc
data/raw/
data/processed/
models/saved/
output/*.md
_site/
logs/
.DS_Store
catboost_info/
data/brackets/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
